body {
    background-color: #fff;
}
.heading {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    color: #fff;
    background-color: black;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.title {
    color: black;
    margin: 32px 8px;
}